.modal{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    transition: 0.3s ease-in-out;
    animation: fadeInAnimation ease 0.2s;
    
   
}

.modal-container{
    width: 70%;
    height: 70%;
    background-color: white;
    z-index: 100;
    border-radius: 20px;
    padding: 40px;
}

.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-container p{
    margin-top: 40px;
    line-height: 2em; 
}

.modal-close{
    font-size: 1.5em;
    cursor: pointer;
}


  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes fadeOutAnimation {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
     }
}


