*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #FDD32A;
}

.container{
  width: 70%;
  margin: auto;
  overflow: hidden;
}

/* header */
.Header{
  align-content: center;
  display: flex;
  font-weight: 600;
  margin-top: 40px;
  font-size:  1.5vh;
  margin-bottom: 70px;
}

.icon{
  margin-right: 20px;
  font-size: 3vh
}


/*Card*/

.card{
  background-color: white;
  border-radius: 30px;
  height: 60vh;
  padding: 20px;
  margin: auto;
  max-width: 1200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-Form{
  display: flex;
  background-color: rgb(243, 240, 240);
  border-radius: 20px;
  width: 300px;
  overflow: hidden;
  padding: 30px;
  justify-content: center;
}

.formS{
  display: flex;
  flex-direction: column;
  width: 600px;
  justify-content: space-between;
}


.formButton{
  flex: 1;
  display: block;
  padding: 15px;
  border-radius: 10px;
  border: none;
  font-weight: 800;
  font-size: 2.5vh;
  margin: 10px;
  background-color: #FDD32A;
}

.formButton-2{
  flex: 1;
  display: block;
  padding: 15px;
  border-radius: 10px;
  border: none;
  font-weight: 800;
  font-size: 2.5vh;
  background-color: #7e7d7b;
  color: white;
}




/*Version texto*/
.textbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea{
    flex: 1;
    margin: 10px;
    height: 350px;
    background-color: rgb(224, 224, 224);
    resize: none;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 40px;
}


.textbox{
  display: flex;
  height: 80%;
  width: 100%;
}
.buttonBox{
  margin-top: 20px ;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*footer*/

.footer{
  align-items: center;
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}


.Info{
  font-size: 4vh;
  cursor: pointer;
}

.Autor{
  display: flex;
  align-items: center;
}

.Autor img{
  width: 30px;
  margin-right: 15px;
}

.Autor p{
  font-size: 1.8vh;
  font-weight: 700;
}



@media (max-width: 900px) {
  



}